/* #f1{
    background: none;
    width: 100px; 
}
.head{
    color: white;
    margin-right: 800px;
}
#acid{
    width: 300px;
    background-color: rgba(255, 255, 255, 0.671);

}
#pid{
    width: 300px;
    background-color: rgba(255, 255, 255, 0.671);
}
#login{
    margin-right: 470px;
}
.reg{

    color: white;
    margin-right: 250px;
    margin-top: 0;
    

}
.heading{
    text-decoration: solid;
} */
