<div style="color: white; background: rgba(255, 255, 255, 0.244); border-radius: 30px;" class="container w-75 mt-4 p-5 text-center">
    <h1>
        Transaction History
    </h1>
    <table class="border border-white w-100" style="border-radius: 30px;">
        <thead>
            <tr class="border border-white ">
                <th class="border border-white ">Type</th>
                <th class="border border-white ">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border border-white "  *ngFor="let i of transaction">
                <td class="border border-white">{{i.type}}</td>
                <td class="border border-white ">{{i.amount}}</td>
            </tr>
            
        </tbody>
    </table>
</div>
